//$body-font-family: 'Overpass';
//$heading-font-family: $body-font-family;

#app {
  font-family: "Overpass", Roboto, Helvetica, "PingFang SC", "Microsoft YaHei";
  background-color: #191919;
}

.mn-button {
  border-radius: 0;
  border-width: 2.5px;
  font-weight: bold;
}

.mn-dialog {
  border-radius: 0;
}

.mn-button-round {
  border-width: 2.5px;
  font-weight: bold;
}
